/*main css는 main 에만 적용*/
body {
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.frame {
  background-color: #fff;
  background-color: var(--color_block_bg);
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, .04);
}

.frame+.frame {
  margin-top: 16px;
}

#container {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
}
#container a:hover{
  text-decoration:underline;
}
.main-left {
  width: 830px;
}

.main-right {
  width: 420px;
}

.ad-banner {
  overflow: hidden;
}

.group-header {
  padding: 18px 20px 10px 20px;
}

.group-header .tab-list {
  display: flex;
}

.group-header .tab-item a[aria-selected="true"] {
  color: #080808;
  color: var(--color_title);
}

.group-header .tab-item:nth-child(n+3) {
  position: relative;
  padding-left: 26px;
}

.group-header .tab-item:nth-child(n+3)::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 13px;
  width: 1px;
  height: 15px;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
  transform: skewX(-15deg);
}

.group-header .tab-item.none a {
  display: flex;
  align-items: center;
}

.group-header .tab-item.none a::before {
  content: '';
  width: 4px;
  height: 4px;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
  margin: 0 8px;
  border-radius: 50%;
}


.group-header .tab-item a {
  display: block;
  font-size: 1.6rem;
  line-height: 23px;
  font-weight: 800;
  color: rgba(8, 8, 8, .5);
  -webkit-font-smoothing: antialiased;
}


.sc-news .group-issue {
  background-color: #f5f7f8;
  background-color: var(--color_option_bg);
  display: flex;
  margin: 0 20px;
  padding: 12px 20px;
  border-radius: 4px;
  line-height: 26px;
}

.sc-news .group-issue .issue-area {
  display: flex;
  flex: 1;
}

.sc-news .group-issue .btn-all {
  display: flex;
}
.sc-news .group-issue .btn-all .ic-arrow {
  background-position: -143px -176px;
  width: 9px;
  height: 6px;
  margin: 10px 0 0 5px;
}

.sc-news .group-issue .link-media {
  position: relative;
  padding-left: 25px;
}
.sc-news .group-issue .link-media::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 12px;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
  width: 1px;
  height: 12px;
}

.sc-news .group-issue .link-issue {
  display: flex;
}
.sc-news .group-issue .link-issue::before {
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
  margin: 12px 6px 0 6px;
  border-radius: 50%;
}

.sc-news .group-issue .news-area {
  display: flex;
  gap: 25px;
}

.sc-news .group-issue .news-area a:last-child{
  position: relative;
}
.sc-news .group-issue .news-area a:last-child::after{
    content: "";
    position: absolute;
    top: 7px;
    left: -12px;
    width: 1px;
    height: 12px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
}
.sc-news .group-media {
  margin: 18px 20px 18px 20px;
  border: 1px solid #ebebeb;
  border: 1px solid var(--color_border_in);
  overflow: hidden;
  position: relative;
  flex: 1;
  height: 224px;
  border-radius: 4px;
}

.sc-news .group-media .media-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 100%;
}

.sc-news .group-media .media-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sc-news .group-media .media-item:hover .media-item-more{
  display: flex;
}
.media-item-more{
  display: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #2868f2;
}

.media-item-more a{
  color: #fff;
}
.media-item-more a:first-child{
  position: relative;
}
.media-item-more a:first-child::after{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 39px;
  width: 1px;
  height: 12px;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
}
.media-item-more a:hover{
  font-weight: bold;
}

/* li 선 긋는 방법 */
.sc-news .group-media .vt-line {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background: #ebebeb;
}

.sc-news .group-media .vt-line.vt1 {
  left: calc((100% / 6)*1);
}

.sc-news .group-media .vt-line.vt2 {
  left: calc((100% / 6)*2);
}

.sc-news .group-media .vt-line.vt3 {
  left: calc((100% / 6)*3);
}

.sc-news .group-media .vt-line.vt4 {
  left: calc((100% / 6)*4);
}

.sc-news .group-media .vt-line.vt5 {
  left: calc((100% / 6)*5);
}

.sc-news .group-media .hr-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ebebeb;
}

.sc-news .group-media .hr-line.hr1 {
  top: calc((100% / 4)*1);
}

.sc-news .group-media .hr-line.hr2 {
  top: calc((100% / 4)*2);
}

.sc-news .group-media .hr-line.hr3 {
  top: calc((100% / 4)*3);
}

.group-control {
  border-top: 1px solid #ebebeb;
  border-top: 1px solid var(--color_border_in);
  position: relative;
  padding: 10px 0 11px;
  line-height: 34px;
  text-align: center;
}

.group-control .control-area {
  display: flex;
  justify-content: center;
  color: #606060;
  color: var(--color_caption2);
  min-width: 156px;
  padding: 0 16px;
  font-size: 1.3rem;
  line-height: 35px;
  font-weight: 600;
}
.group-control .control-area .page{
  min-width: 156px;
}
.group-control .control-area .point{
  color: #3a67ea;
  color: var(--color_news);
}
.group-control .control-area .point.shopping{
  color: #9858f5;
}
/* .sc-news .group-control .control-area .fraction{} */
/* .sc-news .group-control .control-area .current{} */
.group-control .control-area .total{
  color: rgba(96, 96, 96, .5);
  margin-left: -3px;
}
.group-control .control-area [class*="btn-"]{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 1px solid #dadcdf;
  border: 1px solid var(--color_button_border);
  background-color: #fff;
  background-color: var(--color_button1_bg);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.06);
  border-radius: 50%;
}
.group-control .control-area [class*="btn-"]:hover{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12);
  background-color: #fbfbfc;
}
.control-area .btn-prev::before{
  content:'';
  width: 10px;
  height: 12px;
  background-position: -89px -432px;
  transform: rotate(180deg);
}
.control-area .btn-next::before{
  content:'';
  width: 10px;
  height: 12px;
  background-position: -89px -432px;
}

.control-area [class*="btn-"]:hover::before{
  background-position: -78px -432px;
}

.group-control .view-area {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 18px 20px 18px 0;
}

.group-control .view-area [class*="btn-"]{
  width: 20px;
  height: 20px;
}

.group-control .view-area .btn-list{
  background-position: -388px -329px;
}
.group-control .view-area .btn-list:hover{
  background-position: -388px -308px;
}
.group-control .view-area .btn-thumb{
  background-position: -413px -231px;
}
.group-control .view-area .btn-thumb:hover{
  background-position: -413px -210px;
}

.sc-shopping .group-control .sub-area{
  display: flex;
  position: absolute;
  top: 18px;
  right: 20px;
}
.sc-shopping .group-control .sub-area span{
  color: #606060;
  color: var(--color_caption2);
  font-size: 1.2rem;
  line-height: 18px;
  border: 1px solid #e3e5e8;
  border: 1px solid var(--color_border_out);
  width: 30px;
  border-radius: 4px;
}

.sc-shopping .group-header{
  display: flex;
  justify-content: space-between;
}
.sc-shopping .group-header .tab-item:nth-child(n+2) {
  position: relative;
  padding-left: 26px;
}

.sc-shopping .group-header .tab-item:nth-child(n+2)::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 13px;
  width: 1px;
  height: 15px;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
  transform: skewX(-15deg);
}

.sc-shopping .group-header .control-area{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sc-shopping .group-header .control-area .fraction{
  color: #606060;
  color: var(--color_caption2);
  font-size: 1.3rem;
  font-weight: 600;
  margin: 6px 9px 8px 0;
}

.sc-shopping .group-header .control-area .total{
  color: rgba(113, 113, 113, .6);
  margin-left: -3px;
}

.sc-shopping .group-header .control-area [class*="btn-"]{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(211,213,215,0.8);
}

.sc-shopping .group-header .control-area .btn-prev{
  border-radius: 4px 0 0 4px;
}
.sc-shopping .group-header .control-area .btn-next{
  border-left: 0;
  border-radius: 0 4px 4px 0;
}

.group-commerce{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 376px;
  padding: 0 20px 1px;
}
.group-commerce .commerce-left{
  flex: 1 1;
}

.group-commerce .commerce-left .mall-area {
  padding: 9px 11px 4px;
}
.group-commerce .commerce-left .mall-area .row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.group-commerce .commerce-left .mall-area .row+.row{
  margin-top: 5px;
}
.group-commerce .commerce-left .mall-area .row a{
  display: flex;
  position: relative;
  color: #404040;
  color: var(--color_caption1);
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.6px;
}
.group-commerce .commerce-left .mall-area .row .dot{
  width: 3px;
  height: 3px;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
  border-radius: 50%;
}

.group-commerce .commerce-left .menu-area{
  padding: 9px;
}
.group-commerce .commerce-left .menu-area .menu-list{
  display: flex;
  align-items: center;
}
.group-commerce .commerce-left .menu-area .menu-item{
  flex: 1 1;
}
.group-commerce .commerce-left .menu-area .menu-item a{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}
.group-commerce .commerce-left .menu-area .menu-item .icon{
  width: 32px;
  height: 32px;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  line-height: 32px;
  border: 1px solid rgba(238,242,248,.8);
}
.group-commerce .commerce-left .menu-area .menu-item .icon::before{
  content: '';
  display: flex;
  width: 32px;
  height: 32px;
}
.group-commerce .commerce-left .menu-area .menu-item .ic-shopping::before{
  background-position: -35px -1px;;

}
.group-commerce .commerce-left .menu-area .menu-item .ic-review::before{
  background-position: -69px -34px;
}
.group-commerce .commerce-left .menu-area .menu-item .ic-order::before{
  background-position: -35px -35px;
}
.group-commerce .commerce-left .menu-area .menu-item .ic-cart::before{
  position: absolute;
  top: 50%;
  left: 50%;
  background-position: -19px -121px;
  transform: translate(-50%, -50%);
  width: 17px;
  height: 16px;
}
.group-commerce .commerce-left .menu-area .menu-item .text{
  color: #404040;
  color: var(--color_caption1);
  font-size: 13px;
  line-height: 20px;
}


.group-commerce .commerce-left .ad-area{
  margin-top: 16px;
}


.group-commerce .commerce-left .ad-area a{
  display: block;
  width: 248px;
  position: relative;
}

.group-commerce .commerce-left .ad-area .ad-item{
  width: 100%;
  height: 146px;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, .04);
  overflow: hidden;
}
.group-commerce .commerce-left .ad-area a:hover img{
  transform: scale(1.05);
  transition-duration: .3s;
}

.group-commerce .commerce-left .ad-area a img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.group-commerce .commerce-left .ad-area .text{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 8px;
  font-size: 1.3rem;
  line-height: 19px;
  text-align: center;
}

.group-commerce .commerce-right { 
  width: 522px;
}
.group-commerce .commerce-right .product-list{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 15px 10px;
}
.group-commerce .commerce-right .product-item{
  min-width: 0;
}

.group-commerce .commerce-right .product-item:hover figure > div img{
  scale : 1.1;
}
.group-commerce .commerce-right .product-item figure > div{
  display: flex;
  width: 98px;
  height: 126px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #dfdfdf;
}

.group-commerce .commerce-right .product-item figure > div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out; 
}

.group-commerce .commerce-right figcaption{
  margin-top: 8px;
  font-size: 1.3rem;
  line-height: 19px;
  letter-spacing: -.4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}


.group-today{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
  margin: 0 20px 18px;
  background-color: #f5f7f8;
  background-color: var(--color_option_bg);
  padding: 15px 20px 14px;
  border-radius: 4px;
  box-sizing: border-box;
  line-height: 21px;
}
.group-today .title{
  display: flex;
  position: relative;
  font-weight: 700;
}

.group-today .title::after{
  content: '';
  position: absolute;
  top: 8px;
  right: -12px;
  width: 3px;
  height: 3px;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
  border-radius: 50%;
}
.group-today > a{
  flex: 1 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.group-today .today-item{
  height: 13px;
}

.group-today .today-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.group-today .today-desc{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #404040;
  color: var(--color_caption1);
  font-weight: 500;
}

.group-today .today-desc .point{
  color: #9858f5;
}
/* main-right */
.sc-login {
  padding: 21px 20px 18px;
  line-height: 20px;
  text-align: center;
}

.sc-login .login-msg {
  font-size: 1.4rem;
}

.sc-login .link-login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 13px;
  padding: 17px 0;
  border: 1px solid rgba(0, 0, 0, .06);
  border-radius: 4px;
  background-color: #03c75a;
  box-shadow: 0 2px 4px 0 rgba(3, 199, 90, .12);
  color: #fff;
}

.sc-login .link-login:hover {
  background-color: #17b75e;
  box-shadow: 0 2px 4px 0 rgba(3, 199, 90, .24)
}

.sc-login .link-login::before {
  content: '';
  background-position: -142px -270px;
  width: 72px;
  height: 14px;
}

.sc-login .login-area {
  display: flex;
  justify-content: center;
  color: #606060;
  color: var(--color_caption2);
  margin-top: 16px;
  font-size: 1.3rem;
}

.sc-login .login-area a+a {
  display: flex;
  align-items: center;
}

.sc-login .login-area a+a::before {
  content: '';
  width: 1px;
  height: 12px;
  margin: 0 12px;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
}